body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color:  hsl(240, 78%, 98%);
}
img {
    position: absolute;
    max-width: calc(100vw - 200px);
    left: 200px; 
    top: -50px; 
    z-index: -1;
}

.toggleSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.toggleSwitch > * {
    margin-left: 10px;
    margin-right: 10px;
}


.switch { 
    position : relative ;
    display : inline-block;
    width : 50px;
    height : 30px;
    background-color: #eee;
    border-radius: 20px;
  }
.switch::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
  }

.checkbox:checked + .switch::after {
    left : 20px; 
  }

.checkbox:checked + .switch {
    background-color: #7983ff;
  }

.checkbox { 
    display : none;
 }

header {
    margin-top: 30px;
    color: hsl(234, 14%, 74%);
}
h2 {
    color: hsl(237, 63%, 64%);
}

.switch {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    color: hsl(232, 13%, 33%);
    border-radius: 1em;
    background: white;
    width: fit-content;
    margin-bottom: 100px;
    width: 90%;
}

.card h1{
    font-size: 50pt;
}

.card h3 {
    margin-top: 2em;
}

.card p {
    padding: 15px 0;
    margin: 0 25px;
    border-top:1px solid #cecbcb;
    border-bottom:1px solid #cecbcb;
}

.hidden {
    display: none;
}

.card input[type=button] {
    margin: 40px 0;
    padding: 15px 0;
    background:  linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 90%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

.professional {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}

.professional input[type=button] {
    background: white;
    color: hsl(237, 63%, 64%);
}
